<!-- Mainbar -->
<div class="mainbar" role="banner">

  <ol class="tools-nav">

    <li class="list" name="Main">
      <a class="mainpage" href="/" id="back"></a>
    </li>

    <li class="list" name="New Note">
      <a class="noteNew" href="noteNew" id="nsList"></a>
    </li>

    <li class="list" name="Notes List">
      <a class="notesList" href="notesList" id="nsNew">
      </a>
    </li>

    <li class="list" name="">
      <a class="unconst2" href="http://127.0.0.1:4200/">
      </a>
    </li>

    <li class="list" name="">
      <a class="unconst3" href="http://127.0.0.1:4200/">
      </a>
    </li>

    <li class="list" name="">
      <a class="unconst4" href="http://127.0.0.1:4200/">
      </a>
    </li>

    <li class="list" name="">
      <a class="unconst5" href="http://127.0.0.1:4200/">
      </a>
    </li>

  </ol>

</div>

<!-- Footer -->
<div>
  <svg id="clouds" xmlns="http://www.w3.org/2000/svg" height="425" viewBox="0 0 350 1">
    <path id="Path_C1" data-name="Path 1" d="M 0 0 L 0 0 L 24 -50 L 50 0 L 75 -50 L 100 0 L 125 -50 L 150 0 L 175 -50 L 200 0 L 225 -50 L 250 0 L 275 -50 L 300 0 L 325 -50 L 350 0" fill="#162"/>
  </svg>
</div>

<router-outlet></router-outlet>
