.content {
  padding: 15% 35%;
}

.container {
  background-color: #333;
  border-radius: 35px 35px 35px 3px;
  border: 5px solid #333;
  padding: 15px;
  height: 230px;
  width: 250px;
}

.content .form-title {
  all: unset;
  height: 35px;
  width: 250px;
  margin: 5px 5px 5px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  font-size: 26px;
  color: white;
}

.content .form-group {
  all: unset;
  height: 35px;
  width: 250px;
  margin: 0 0px 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.content .form-control {
  margin: 5px;
  padding: 5px;
  height: 15px;
  width: 200px;
  
}

.content .form-name {
  padding: 15px;
  color: white;
}

.content .btn-default {
  all: unset;
  border-radius: 75px 75px 75px 75px;
  border: 3px solid white;
  background-color: white;
  height: 15px;
  width: 115px;
  margin: 12%;
  padding: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  color: black;
  font-size: 18px;
}

.content .btn-default:hover {
  cursor: pointer;
  color: white;
  border-radius: 75px 75px 75px 75px;
  border: 3px solid #885555;
  background-color: #885555;
}

.content .btn-default:active {
  border: 5px solid #881111;
  background-color: #881111;
  font-size: 19px;
  transform: scale(0.95);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
